$white-color: #fff;
$black-color: #000;
$text-color: #000;
$border-color-bold: rgba(158, 158, 158, 0.664);
$header-height: 96px;
$text-size: 1.5rem;
$nav-color: hsl(0, 0%, 22%);
$nav-hover-color: #666666;
$main-color: #08528b;
$line-color: #ececec;
$nav-drop-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.08), 0px 4px 11px -2px rgba(0, 0, 0, 0.06);
$border-color: #ececec;
$linear-3-trans: all linear 0.3s;
$linear-2-trans: all linear 0.2s;
$height-slider: 660px;
$line-bold-color: #e4e4e4e8;
$ease-in-out-3-trans: all ease-in-out 0.3s;
